{erl_opts, [
    {parse_transform, lager_transform},
    warn_unused_vars,
    warn_export_all,
    warn_shadow_vars,
    warn_unused_import,
    warn_unused_function,
    warn_bif_clash,
    warn_unused_record,
    warn_deprecated_function,
    warn_obsolete_guard,
    strict_validation,
    warn_export_vars,
    warn_exported_vars
]}.

{deps, [
        {lager, ".*",
            {git, "https://github.com/erlang-lager/lager.git", {ref, "e6b31784e65b838a10d0a533f4b838da8029e402"}}},
        {mongodb, ".*",
            {git, "https://github.com/comtihon/mongodb-erlang", {ref, "5881a8b689156feb9931fd47ee864c8c2491b03a"}}}
        ]}.

{deps_dir, "deps"}.

{minimum_otp_vsn, "17.0"}.
